<form class="container my-4">
  <div class="row g-2 align-items-end">
    <div class="col-md">
      <label for="lugar" class="form-label">Lugar</label>
      <input type="text" class="form-control" id="lugar" placeholder="¿A dónde vas?">
    </div>

    <div class="col-md">
      <label for="fecha1" class="form-label">Fecha recogida</label>
      <input type="date" class="form-control" id="fecha1" placeholder="DD/MM/YY">
    </div>
    <div class="col-md">
      <label for="fecha2" class="form-label">Fecha devolucion</label>
      <input type="date" class="form-control" id="fecha2" placeholder="DD/MM/YY">
    </div>

    <div class="col-md">
      <label for="hora-recogida" class="form-label">Hora de recogida</label>
      <select class="form-select" id="hora-recogida">
        <option value="7">7:00</option>
        <option value="8">8:00</option>
        <option value="9" selected>9:00</option>
        <option value="10">10:00</option>
        <option value="11">11:00</option>
        <option value="12">12:00</option>
        <option value="13">13:00</option>
        <option value="14">14:00</option>
        <option value="15">15:00</option>
        <option value="16">16:00</option>
        <option value="17">17:00</option>
        <option value="18">18:00</option>
        <option value="19">19:00</option>
        <option value="20">20:00</option>
        <option value="21">21:00</option>
        <option value="22">22:00</option>
        <option value="23">23:00</option>
        <option value="0">00:00</option>
      </select>
    </div>

    <div class="col-md">
      <label for="hora-devolucion" class="form-label">Hora de devolución</label>
      <select class="form-select" id="hora-devolucion">
        <option value="7">7:00</option>
        <option value="8">8:00</option>
        <option value="9" selected>9:00</option>
        <option value="10">10:00</option>
        <option value="11">11:00</option>
        <option value="12">12:00</option>
        <option value="13">13:00</option>
        <option value="14">14:00</option>
        <option value="15">15:00</option>
        <option value="16">16:00</option>
        <option value="17">17:00</option>
        <option value="18">18:00</option>
        <option value="19">19:00</option>
        <option value="20">20:00</option>
        <option value="21">21:00</option>
        <option value="22">22:00</option>
        <option value="23">23:00</option>
        <option value="0">00:00</option>
      </select>
    </div>

    <div class="col-md-auto">
      <button type="submit" class="btn btn-primary w-100" [routerLink]="['/car-search']">Buscar</button>
    </div>
  </div>
</form>
