<div class="card m-2" style="width: 23rem;">
  <img
    [src]="flight?.imagen_destino"
    class="card-img-top"
    alt="Imagen del destino" />
  <div class="card-body">
    <h5 class="card-title">{{ flight?.origen }} → {{ flight?.destino }}</h5>
    <p class="card-text">
      Salida: {{ flight?.fecha_de_salida }} a las {{ flight?.hora_de_salida }}<br>
      Llegada: {{ flight?.fecha_de_llegada }} a las {{ flight?.hora_de_llegada }}<br>
      Duración: {{ flight?.duracion }}
    </p>
    <p class="card-price-text">
      Desde <span class="price">{{ flight?.precio }} €</span>
    </p>
  </div>
</div>
