<div class="footer-app">
  <div class="footer-columns">
    <div class="footer-column center-column">
      <h3>Información</h3>
      <ul>
        <li><a>Sobre nosotros</a></li>
        <li><a>Contacto</a></li>
        <li><a>Política de privacidad</a></li>
      </ul>
    </div>

    <div class="footer-column center-column">
      <h3>Ayuda</h3>
      <ul>
        <li><a>Preguntas frecuentes</a></li>
        <li><a>Términos y condiciones</a></li>
        <li><a>Soporte</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-logo">
    JetSetGo.com
  </div>
</div>
