<div class="card">
  <div class="card-header">
    Hotel
  </div>
  <div class="card-body">
    <img class="imgHotel" [src]="hotel?.imagen_hotel">
    <h5 class="card-title">{{hotel?.nombre}}</h5>
    <p class="card-text">Precio por día: {{hotel?.precio}}€</p>
    <p class="card-text">Estrellas: {{hotel?.estrellas}}</p>
    <p class="card-text">Valoración: {{hotel?.valoracion}}</p>
    <p class="card-text">Ubicado en: {{hotel?.localizacion}}</p>
    <a href="#" class="btn btn-primary">Más información</a>
  </div>
</div>
