<div class="card">
  <div class="card-header">
    Vuelo
  </div>
  <div class="card-body">
    <img class="imgVuelo" [src]="flight?.imagen_destino">
    <h5 class="card-title">{{flight?.destino}}</h5>
    <p class="card-text">Fecha:</p>
    <p class="card-text">Salida: {{flight?.fecha_de_salida}} - Llegada: {{flight?.fecha_de_llegada}}</p>
    <p class="card-text">Hora:</p>
    <p class="card-text">Salida: {{flight?.hora_de_salida}} - Llegada: {{flight?.hora_de_llegada}}</p>
    <p class="card-text">Duración: {{flight?.duracion}}</p>
    <p class="card-text">Precio: {{flight?.precio}}€</p>
    <a href="#" class="btn btn-primary">Más información</a>
  </div>
</div>
