<form class="container my-4" (ngSubmit)="searchHotels()">
  <div class="row g-2 align-items-end">
    <div class="col-md">
      <label for="lugar" class="form-label">Lugar</label>
      <input type="text" class="form-control" id="lugar" [(ngModel)]="busqueda.localizacion" name="lugar" placeholder="¿A dónde vas?">
    </div>
    <div class="col-md">
      <label for="fecha1" class="form-label">Fecha entrada</label>
      <input type="date" class="form-control" id="fecha1" [(ngModel)]="busqueda.inicio_disponibilidad" name="fechaEntrada">
    </div>
    <div class="col-md">
      <label for="fecha2" class="form-label">Fecha salida</label>
      <input type="date" class="form-control" id="fecha2" [(ngModel)]="busqueda.fin_disponibilidad" name="fechaSalida">
    </div>
    <div class="col-md">
      <label for="adultos" class="form-label">Adultos</label>
      <input type="number" class="form-control" id="adultos" [(ngModel)]="busqueda.adultos" name="adultos" min="1" value="1">
    </div>
    <div class="col-md">
      <label for="ninos" class="form-label">Niños</label>
      <input type="number" class="form-control" id="ninos" [(ngModel)]="busqueda.ninos" name="ninos" min="0" value="0">
    </div>
    <div class="col-md">
      <label for="habitaciones" class="form-label">Habitaciones</label>
      <input type="number" class="form-control" id="habitaciones" [(ngModel)]="busqueda.habitaciones" name="habitaciones" min="1" value="1">
    </div>
    <div class="col-md-auto">
      <button type="submit" class="btn btn-primary w-100">Buscar</button>
    </div>
  </div>
</form>

